@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background: 0 0% 100%;
  --foreground: 215 16% 47%;
  --card: 327 73% 97%;
  --card-foreground: 215 16% 47%;
  --popover: 0 0% 100%;
  --popover-foreground: 215 16% 47%;
  --primary: 347 77% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 330 81% 60%;
  --secondary-foreground: 0 0% 100%;
  --muted: 138 76% 97%;
  --muted-foreground: 215 25% 27%;
  --accent: 330 81% 60%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 74% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 220 13% 91%;
  --input: 0 0% 100%;
  --ring: 347 77% 42% / 0.5;
  --chart-1: 330 81% 60%;
  --chart-2: 45 93% 58%;
  --chart-3: 142 76% 73%;
  --chart-4: 217 91% 60%;
  --chart-5: 271 81% 56%;
  --radius: 0.5rem;
  --sidebar-background: 327 73% 97%;
  --sidebar-foreground: 215 16% 47%;
  --sidebar-primary: 347 77% 42%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 330 81% 60%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 347 77% 42% / 0.5;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 84% 4.9%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 224.3 76.3% 94.1%;
  --chart-1: 217.2 91.2% 59.8%;
  --chart-2: 45 93% 63%;
  --chart-3: 142 76% 78%;
  --chart-4: 217 91% 65%;
  --chart-5: 271 81% 61%;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
